@*
    Lists Authors for a post. Gets called from /Landing/uBlogsyLandingShowPost.cshtml and /Post/uBlogsyPostShowPost.cshtml
*@

@using System.Linq
@using uBlogsy.Common.Helpers
@using uBlogsy.BusinessLogic;
@inherits UmbracoTemplatePage
@{
	try{
    var node = (IPublishedContent)ViewData["Node"] ?? Model.Content;
    var landing = DataService.Instance.GetLanding(Model.Content);
    //var gravatarSize = (int)ViewData["GravatarSize"];
    var authors = PostService.Instance.GetAuthors(node, false).ToList(); 
    
    @RenderForPost(landing, authors, node.GetPropertyValue<DateTime>("uBlogsyPostDate"))
	}catch(Exception ex){}
}


@helper RenderForPost(IPublishedContent landing,  List<IPublishedContent> authors, DateTime postDate)
{
	<span class="uBlogsy_author_name">
		@foreach (var a in authors)
		{
			var name = a.GetPropertyValue<string>("uBlogsyAuthorName").Trim();
			<span>@name</span>
		}
	</span>    
}

